[submodule "third-party/vscp"]
	path = third-party/vscp
	url = https://github.com/grodansparadis/vscp
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
